.grid {
  display: grid;
}

@for $i from 1 through 12 {
  .grid-cols-#{$i} {
    grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
  }
  
  .col-span-#{$i} {
    grid-column: span #{$i} / span #{$i};
  }
}

$breakpoints: (
  "sm": 640px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1280px,
);

@each $breakpoint, $size in $breakpoints {
  @media (min-width: #{$size}) {
    @for $i from 1 through 12 {
      .#{$breakpoint}\:grid-cols-#{$i} {
        grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
      }

      .#{$breakpoint}\:col-span-#{$i} {
        grid-column: span #{$i} / span #{$i};
      }
    }
  }
}