//* Container Variables
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

//* Color Variables
$primary_color: #00bfa5;
$gray_1: #9b9b9b;
$secondary_color: #e61236;
$text_color: #37474f;
$gray_border: #d4d4d4;
$placeholder_txt: #BDBDBD;
$background_white: #ffffff;
$background_main: #F5F5F5;

$submit_loader_color: #FFFFFF;
